#tree {
 
  background-color: #eee;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
}

#tree-inner {
    padding: 15px 20px 30px 30px;  
}

#tree h1.title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: normal;
}

#tree h1.title a:hover {
    border-bottom: none;
}

#tree a {
 font-size: 14px; 
  line-height: 28px;
}

#tree dd.other {
  display: none;
}

#tree .level-1,
#tree .parent,
#tree .child,
#tree .parent *,
#tree .child * {
    display: inherit; 
    color: inherit;
}

#tree dd.child-1,
#tree .child-2,
#tree .child-3,
#tree .child-4 {
 display: none; 
}


#search {
  height: 70px;
}

#content {
    padding: 10px 30px 30px 350px;
    margin-left: 0;
}

#content-main {
  padding-top: 10px;
  padding-left: 10px;
}

#content p,
#content li,
#content dt,
#content dd {
  font-size: 16px;
  line-height: 28px; 
}


#tree a {
    display: inline !important;
    font-weight: normal; 
    color: #666;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
}

#tree a:hover {
    text-decoration: none;
    border-bottom: 1px solid #aaa;
}

#tree .active > a {
    display: inline;
    color: #000;
    border-bottom: 1px solid #555;

}

#content,
#tree {
  font-family: Junge;
}

#content h1,
#content h2,
#content h3,
#content h4 {
    font-weight: normal;
}

#content h1.title {
 border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#content h2 {
  margin: 30px 0 20px 0;
  padding-bottom: 5px;
  font-size: 22px;
  border-bottom: 2px solid #ddd;
}

#content h3 {
 margin: 20px 0 10px 0; 
  padding-bottom: 5px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}


#content h4 {
  font-size: 18px;
 margin: 20px 0 10px 0; 
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#content code {
  font-size: 14px;
  color: #555;
}

#content dl
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content dt
{
    clear: left;
    float: left;
    width: 25%;
    margin: 0;
    padding: 5px;
    font-weight: normal;
}
    
#content dd
{
    float: left;
    width: 65%;
    margin: 0;
    padding: 5px;
    font-weight: normal;
}

/* Keyboard binding layout */
#content dl.bindings
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content .bindings dt
{
    clear: left;
    float: left;
    width: 30%;
    margin: 0;
    padding: 0px;
    font-size: 100%;
    font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
    
#content .bindings dd
{
    float: left;
    width: 65%;
    margin: 0;
    padding: 0px;
    font-size: 110%;
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-weight: normal;
}


#content dl.wide-table
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content .wide-table dt
{
        font-weight: normal;
    clear: left;
    float: left;
    width: 30%;
    margin: 0;
    padding: 5px;
}

#content dt,
#content dd {
    border-top: 2px solid #eee;
}

#content dt:first-child,
#content dd:nth-child(2) {
    border-top: none;
}
    
#content .wide-table dd
{
    float: left;
    width: 60%;
    margin: 0;
    padding: 5px;
}

#content dl.narrower-table
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content .narrower-table dt
{
    clear: left;
    float: left;
    width: 20%;
    margin: 0;
    padding: 5px;
}
    
#content .narrower-table dd
{
    float: left;
    width: 70%;
    margin: 0;
    padding: 5px;
}

#content kbd {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EEEEEE none repeat scroll 0 0;
    border-color:#CCCCCC #AAAAAA #888888 #BBBBBB;
    border-style:solid;
    border-width:1px 1px 2px 2px;
    color:#000000;
    padding:2px 1px;
    white-space:nowrap;
}


.mod1:before {
    content: "Ctrl-";
}

.mod2:before {
    content: "Alt-";
}

.mod4:before {
    content: "Win-";
}

.mod12:before {
    content: "Ctrl-Alt-";
}

.mod13:before {
    content: "Ctrl-Shift-";
}

.mod14:before {
    content: "Ctrl-Win-";
}

.mac .mod1:before {
    content: "Cmd-";
}

.mac .mod2:before {
    content: "Ctrl-";
}

.mac .mod4:before {
    content: "Opt-";
}

.mac .mod12:before {
    content: "Cmd-Ctrl-";
}

.mac .mod13:before {
    content: "Cmd-Shift-";
}

.mac .mod14:before {
    content: "Cmd-Opt-";
}



#gs_tti0 {

  padding-top: 2px;
  padding-bottom: 0;

}





