#tree {
  background-color: #212A30;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
}

#tree-inner {
  padding: 15px 20px 30px 30px;  
}

#tree h1.title {
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: normal;
}

#tree h1.title a:hover {
  border-bottom: none;
}

#tree a {
  font-size: 14px; 
  line-height: 28px;
}

#tree dd.other {
  display: none;
}

#tree .level-1,
#tree .parent,
#tree .child,
#tree .parent *,
#tree .child * {
  display: inherit; 
  color: inherit;
}

#tree dd.child-1,
#tree .child-2,
#tree .child-3,
#tree .child-4 {
  display: none; 
}


#search {
  height: 70px;
}

#content {
    padding: 10px 30px 30px 350px;
    margin-left: 0;
}

#content-main {
  padding-top: 10px;
  padding-left: 10px;
}

#content p,
#content li,
#content dt,
#content dd {
  font-size: 16px;
  line-height: 28px; 
}


#tree a {
    display: inline !important;
    font-weight: normal; 
    color: #E4E4E4;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
}

#tree a:hover {
    text-decoration: none;
    border-bottom: 1px solid #aaa;
}

#tree .active > a {
    display: inline;
    color: #da0808;
    border-bottom: 1px solid #FFF;

}

#content,
#tree {
  font-family: Junge;
}

#content h1,
#content h2,
#content h3,
#content h4 {
    font-weight: normal;
}

#content h1.title {
 border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

#content h2 {
  margin: 30px 0 20px 0;
  padding-bottom: 5px;
  font-size: 22px;
  border-bottom: 2px solid #ddd;
}

#content h3 {
 margin: 20px 0 10px 0; 
  padding-bottom: 5px;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}


#content h4 {
  font-size: 18px;
 margin: 20px 0 10px 0; 
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

#content code {
  font-size: 14px;
  color: #555;
}

#content dl
{
    float:none;
    clear:both;
    width:100%;
    margin: 1em 0;
    padding: 0;
}

#content dl:after {
    content:' ';
    display:block;
    clear:both;
}
    
#content dt
{
    clear: left;
    float: left;
    width: 25%;
    margin: 0;
    padding: 5px;
    font-weight: normal;
}
    
#content dd
{
    float: left;
    width: 65%;
    margin: 0;
    padding: 5px;
    font-weight: normal;
}

/* Keyboard binding layout */
#content dl.bindings
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content .bindings dt
{
    clear: left;
    float: left;
    width: 65%;
    margin: 0;
    padding: 0px;
    font-size: 100%;
    font-family: "Trebuchet MS", "Bitstream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
}
    
#content .bindings dd
{
    float: left;
    width: 30%;
    margin: 0;
    padding: 0px;
    font-size: 110%;
    font-family: "Bitstream Vera Sans Mono", "Courier New", monospace;
    font-weight: normal;
}


#content dl.wide-table
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content .wide-table dt
{
        font-weight: normal;
    clear: left;
    float: left;
    width: 30%;
    margin: 0;
    padding: 5px;
}

#content dt,
#content dd {
    border-top: 2px solid #eee;
}

#content dt:first-child,
#content dd:nth-child(2) {
    border-top: none;
}
    
#content .wide-table dd
{
    float: left;
    width: 60%;
    margin: 0;
    padding: 5px;
}

#content dl.narrower-table
{
    float: left;
    width: 100%;
    margin: 1em 0;
    padding: 0;
}
    
#content .narrower-table dt
{
    clear: left;
    float: left;
    width: 20%;
    margin: 0;
    padding: 5px;
}
    
#content .narrower-table dd
{
    float: left;
    width: 70%;
    margin: 0;
    padding: 5px;
}

kbd {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:#EEEEEE none repeat scroll 0 0;
    border-color:#CCCCCC #AAAAAA #888888 #BBBBBB;
    border-style:solid;
    border-width:2px 2px 4px 4px;
    color:#000000;
    padding:1px 2px;
    white-space:nowrap;
    text-transform:capitalize;
}

kbd.input,kbd.cmd,kbd.osc {
    font-family:mono;
    border-width:0;
    text-transform:none;

}

kbd.cmd {
    display:block;
    width:100%;
    margin-bottom:1ex;
    text-transform:none;
}

kbd.cmd.lin:before {
    content: 'user@linux:~ ';
    color:#999999;
}

kbd.cmd.mac:before {
    content: 'MacBook:~/Desktop User\$ ';
    color:#999999;
}

kbd.cmd.win:before {
    content: 'C:\\Users\\myAccount> ';
    color:#999999;
}

kbd.mouse {
    -moz-border-radius:10px;
    border-radius:10px;
}

/*
.mouse:after {
    position:relative;
    top:-1em;
    left:-1em;
    content:url('/images/mouse-tail.png');
}
*/

kbd.menu,kbd.option,kbd.optoff {
    border:none;
    background-color:transparent;
    font-weight:bold;
    font-stretch:extra-condensed;
    white-space:normal;
}

kbd.option:after,kbd.optoff:after {
    font-family:mono;
    font-weight:lighter;
    text-align:center;
    border:solid 1px black;
    margin-left:0.3em;
}
kbd.option:after {
    content:'X';

}
kbd.osc {
}
kbd.optoff:after {
    content:'    ';
}


kbd.fader, kbd.knob, kbd.button {
    border-color:#ccccff #aaaadd #8888bb #bbbbee;
    background-color:#ddddff;
    color:#000044;
}

kbd.fader {
    border-width: 1px 1px 9px 9px;
}

kbd.knob {
    -moz-border-radius:12px;
    border-radius:12px;	
    border-width: 1px 1px 9px 9px;
}

kbd.button {
    -moz-border-radius:8px;
    border-radius:8px;
    border-width: 1px 1px 3px 3px;
}

samp {
    font-family:mono;
    font-style:italic;
    color:#333333;
    background-color:transparent;
    margin-left: 1ex;
    margin-right: 1ex;
}

samp:before {
    content:"\BB";
}

samp:after {
    content:"\AB";
}

#content td {
    padding: 0 1em 0 1em;
}

#content .small {
    width:150px;
}

#subtopics ul {
    font-size:20px;
    font-weight:bold;
}

#content dfn {
    font-weight: bold;
    font-style: normal;
}

#content img.right {
    margin: 0 0 1em 1em;
    float:right;
    clear:right;
}

#content img.left {
    margin:0 1em 1em 0;
    float:left;
    clear:left;
}

#content p.center {
	text-align:center;
}

#content .note,.warning,.fixme {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 8px; 
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}

#content .note {
    border-color: #e3e3e3;
    background-color: #f5f5f5;
}

#content .warning {
    border-color: #995555;
    background-color: #ffeeee;
}

#content .fixme {
    border-color: #999944;
    background-color: #f0f0e0;
    font-weight:bold;
}

.fixme:before {
    content:'FIXME: ';
    font-style: italic;
    font-size:200%;
}




.mod1:before {
    content: "Ctrl ";
}
.mod2:before {
    content: "Alt ";
}
.mod3:before {
    content: "Shift ";
}
.mod4:before {
    content: "Win ";
}
.mod12:before {
    content: "Ctrl Alt ";
}
.mod13:before {
    content: "Ctrl Shift ";
}
.mod14:before {
    content: "Ctrl Win ";
}
.mod23:before {
    content: "Alt Shift ";
}
.kp:before {
    content: "Keypad ";
}

.mac .mod1:before {
    content: "Cmd ";
}
.mac .mod2:before {
    content: "Ctrl ";
}
.mac .mod3:before {
    content: "Shift ";
}
.mac .mod4:before {
    content: "Opt ";
}
.mac .mod12:before {
    content: "Cmd Ctrl ";
}
.mac .mod13:before {
    content: "Cmd Shift ";
}
.mac .mod14:before {
    content: "Cmd Opt ";
}
.mac .mod23:before {
    content: "Ctrl Shift ";
}

#gs_tti0 {

  padding-top: 2px;
  padding-bottom: 0;

}

@media (max-width: 800px) {
  #tree {
    position: relative;
    height: 250px;
    width: 100%;
    margin-top: 20px;
  }
  #content {
    padding-left: 20px;
    margin-top: 0px;
  }
}



