@font-face {
    font-family: 'junge-regular';
    src: url('junge-regular-webfont.woff2') format('woff2'),
         url('junge-regular-webfont.woff') format('woff'),
         url('junge-regular-webfont.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'junge-regular';
  font-size: 16px;
  line-height: 2ex;
}

div.clearer {
  clear:both;
}

ul.inside li, ol.inside li {
	left: 1em;
	position: relative;
	padding-right: 1em;
}

#tree {
  background-color: #212A30;
  line-height: 1.8ex;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20em;
}

#tree-inner {
  padding: 1em 1em 2em 1.5em;
}

#tree h1.title {
  font-size: 1.75em;
  margin-bottom: 1em;
  font-weight: normal;
}

#tree dl {
  margin-left: 1em;
}

#tree h1.title a:hover {
  border-bottom: none;
}

#tree dd.other {
  display: none;
}

#tree .level-1,
#tree .parent,
#tree .child,
#tree .parent *,
#tree .child * {
  display: inherit;
  color: inherit;
}

#tree dd.child-1,
#tree .child-2,
#tree .child-3,
#tree .child-4 {
  display: none;
}

#tree a {
  display: inline !important;
  font-size: 0.88em;
  font-weight: normal;
  line-height: 2em;
  color: #E4E4E4;
  border-bottom: 1px solid transparent;
  padding-bottom: .1ex;
}

#tree a:hover {
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

#tree .active > a {
  display: inline;
  color: #da0808;
  border-bottom: 1px solid #FFF;
}

#content {
  padding: 1em 2em 2ex 21em;
  margin-left: 0;
}

#content-main {
  padding-top: 1ex;
  padding-left: .5em;
}


#content p,
#content li,
#content dt,
#content dd,
#content td,
#content th{
  line-height: 2em;
}

#content h1,
#content h2,
#content h3,
#content h4 {
  font-weight: normal;
  padding-bottom: .3ex;
}

#content h1.clear,
#content h2.clear,
#content h3.clear,
#content h4.clear {
	clear:both;
}

#content h1.title {
  font-size: 1.8em;
  margin: 0 0 2ex 0;
  padding-bottom: .8ex;
  border-bottom: 2px solid #ccc;
}

#content h2 {
  font-size: 1.3em;
  margin: 2ex 0 1ex 0;
  border-bottom: 2px solid #ddd;
}

#content h3 {
  font-size: 1.2em;
  margin: 1.5ex 0 1ex 0;
  border-bottom: 1px solid #eee;
}

#content h4 {
  font-size: 1.1em;
  margin: 1.5ex 0 .5ex 0;
  border-bottom: 1px solid #eee;
}

#content table,
#content table.dl {
  width:100%;
  margin: 1em 0;
  padding: 0;
  font-weight: normal;
  text-align: left;
  line-height: 2ex;
}

#content table tr {
  border-bottom: 2px solid #eeeeee;
}

#content table tr:nth-child(odd){
  background-color: white;
}

#content table tr:nth-child(even){
  background-color: #f5f5f5;
}

#content table tr:hover {
  background-color: #F2F9FF;
}

#content table td,
#content table th {
  margin: 0;
  padding: .5em;
}

#content table th {
  font-weight: bold;
}

#content table td {
  font-weight: normal;
}


#content table th.sub1 {
  padding-left: 2em;
}

#content table th.sub2 {
  padding-left: 4em;
}

#content table thead {
  font-weight:bold;
}

#content table.dl th {
  /* dl class (definition list) is for 2-columns tables that describe properties:
  maximmizes the width of the 2nd (description) column */
  vertical-align: top;
  min-width: 20%;
  white-space:nowrap
}

#content table.dl td {
  vertical-align: top;
  width: 100%;
}

#content dl
{
  float:none;
  clear:both;
  width:100%;
  margin: 1em 0;
  padding: 0;
  display:inline-block;
}

#content dl:after {
  content:' ';
  display:block;
  clear:both;
}

#content dt,
#content dd {
  border-top: 2px solid #eee;
  float: left;
  margin: 0;
  padding: .5em;
  font-weight: normal;
}

#content dt {
  clear: left;
  width: 25%;
}

#content dd {
  width: 65%;
}

#content dt.sub1 {
  padding-left: 2em;
}

#content dt.sub2 {
  padding-left: 4em;
}

#content dt:first-child,
#content dd:nth-child(2) {
  border-top: none;
}


#content figure {
  display: table;
}

#content figcaption {
	display: table-caption;
	caption-side: bottom;
	font-style: italic;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

#content figcaption.center {
	text-align: center;
	caption-side: bottom;
}

#content figcaption.titleover {
  text-align: center;
	caption-side: top ;
}

#content figure.right {
  margin: 0 0 1em 1em;
  float: right;
  clear: right;
}

#content figure.left {
  margin: 0 1em 1em 0;
  float: left;
  clear: left;
}

#content figure.center {
  margin: 1em auto 1em auto;
  clear: both;
}

.multicol2 {
  width: 48%;
	float:left;
	padding:0 0 0 2%;
	margin:0;
}

.multicol3 {
  width: 31%;
	float:left;
	padding:0 0 0 2%;
	margin:0;
}

kbd {
  display: inline-block;
  min-width: 1em;
  padding: .2em .3em;
  font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  border-radius: .3em;
  cursor: default;
  background: rgb(250, 250, 250);
  background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
  color:  rgb(50, 50, 50);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
  white-space:nowrap;
  text-transform:capitalize;
}

kbd.def {
  font-weight:bolder;
	margin-right:.2em;
}

kbd.input,
kbd.cmd,
kbd.osc {
  font-family:mono;
  border-width:0;
  text-transform:none;
}

kbd.input {
  background:none;
  border-radius: 0;
}

kbd.cmd {
  display:block;
  width:100%;
  margin-bottom:1ex;
  text-transform:none;
  background: rgb(220, 220, 220);
  text-shadow: none;
  box-shadow: none;
  text-align:left;
}

kbd.cmd.lin:before {
  content: 'user@linux:~ ';
  color:#999999;
}

kbd.cmd.mac:before {
  content: 'MacBook:~/Desktop User\$ ';
  color:#999999;
}

kbd.cmd.win:before {
  content: 'C:\\Users\\myAccount> ';
  color:#999999;
}

kbd.optoff,
kbd.option {
  border:none;
  background:none;
}

kbd.optoff:before {
  content:url('/images/checkbox-unchecked.png');
  margin: 0 1em 0 0;
  vertical-align:middle;
}

kbd.option:before {
  content:url('/images/checkbox-checked.png');
  margin: 0 1em 0 0;
  vertical-align:middle;
}

kbd.menu {
  border:none;
  background:none;
  font-weight:bold;
  font-stretch:extra-condensed;
  white-space:normal;
}

kbd.osc {
  border:none;
  background: rgb(208, 208, 243);
  font-stretch:extra-condensed;
  white-space: nowrap;
  text-align:left;
}

kbd.fader,
kbd.knob,
kbd.button {
  background: rgb(174, 174, 217);
  background: -moz-linear-gradient(top, rgb(174, 174, 217), rgb(221, 221, 255));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(174, 174, 217)), to(rgb(221, 221, 255)));
  color:#000044;
}

kbd.fader {
  border-width: 1px 1px 9px 9px;
}

kbd.knob {
  border-radius:12px;
  border-width: 1px 1px 9px 9px;
}

kbd.button {
  border-radius:8px;
  border-width: 1px 1px 3px 3px;
}

kbd.mouse {
  border-radius:10px;
}

samp {
  font-family:mono;
  font-style:italic;
  color:#333333;
  background-color:transparent;
  margin-left: 1em;
  margin-right: 1em;
}

samp:before {
  content:"\BB";
}

samp:after {
  content:"\AB";
}

#subtopics ul {
  font-weight:bold;
}

#content dfn {
  font-weight: bold;
  font-style: normal;
}

#content img.right {
  margin: 0 0 1em 1em;
  float:right;
  clear:right;
}

#content img.left {
  margin:0 1em 1em 0;
  float:left;
  clear:left;
}

#content img.center {
  display: block;
  margin:1em auto 1em auto;
	clear: both;
}

#content img.mini {
  width:200px;
}

#content img.mini:hover {
  width: 100%;
  /*transition: width .5s ease; doesn't work on right-floated figures */
}

#content p.center {
	text-align:center;
}

#content .note,
#content .warning,
#content .fixme {
  min-height: 1.5ex;
  padding: 1em;
  margin-bottom: 1em;
  border-style: solid;
  border-width: 1px 1px 1px 8px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#content code {
  font-size: .9em;
  color: #555;
}

#content .note {
  border-color: #e3e3e3;
  background-color: #f5f5f5;
}

#content .warning {
  border-color: #995555;
  background-color: #ffeeee;
}

#content .fixme {
  border-color: #999944;
  background-color: #f0f0e0;
  font-weight:bold;
}

.fixme:before {
  content:'FIXME: ';
  font-style: italic;
  font-size:2em;
}

/* Keyboard modifiers */
.mod1:before {        content: "Ctrl ";}
.mod2:before {        content: "Alt ";}
.mod3:before {        content: "Shift ";}
.mod4:before {        content: "Win ";}
.mod12:before {       content: "Ctrl Alt ";}
.mod13:before {       content: "Ctrl Shift ";}
.mod14:before {       content: "Ctrl Win ";}
.mod23:before {       content: "Alt Shift ";}
.kp:before {          content: "Keypad ";}
/* Variants *without* space after them (yes, these are needed!) */
.mod1n:before {       content: "Ctrl";}
.mod2n:before {       content: "Alt";}
.mod3n:before {       content: "Shift";}
.mod4n:before {       content: "Win";}
.mod12n:before {      content: "Ctrl Alt";}
.mod13n:before {      content: "Ctrl Shift";}
.mod14n:before {      content: "Ctrl Win";}
.mod23n:before {      content: "Alt Shift";}
/* Automagic translation for Mac based display */
.mac .mod1:before {   content: "Cmd ";}
.mac .mod2:before {   content: "Ctrl ";}
.mac .mod3:before {   content: "Shift ";}
.mac .mod4:before {   content: "Opt ";}
.mac .mod12:before {  content: "Cmd Ctrl ";}
.mac .mod13:before {  content: "Cmd Shift ";}
.mac .mod14:before {  content: "Cmd Opt ";}
.mac .mod23:before {  content: "Ctrl Shift ";}
/* No space variants (Mac based) */
.mac .mod1n:before {  content: "Cmd";}
.mac .mod2n:before {  content: "Ctrl";}
.mac .mod3n:before {  content: "Shift";}
.mac .mod4n:before {  content: "Opt";}
.mac .mod12n:before { content: "Cmd Ctrl";}
.mac .mod13n:before { content: "Cmd Shift";}
.mac .mod14n:before { content: "Cmd Opt";}
.mac .mod23n:before { content: "Ctrl Shift";}

@media (max-width: 800px) {
  #tree {
    position: relative;
    height: 250px;
    width: 100%;
    margin-top: 20px;
  }
  #content {
    padding-left: 20px;
    margin-top: 0px;
  }
}

/* for the TOC */
#content p.chapter,
#content p.subchapter,
#content p.section,
#content p.subsection {
  line-height:1em;
}
#content p.chapter { padding-top: 1em; padding-left: 1em; padding-bottom:1em; }
#content p.subchapter { padding-left: 4em; }
#content p.section { padding-left: 6em; }
#content p.subsection { padding-left: 8em; }

/* for images sliced in divs, as in http://manual.ardour.org/ardours-interface/about/ */
.container { position: relative; border: none; }
.hoverimg { position: absolute; border: none; }
.hoverimg:hover{ z-index:100; box-shadow: 0 0 .2em .2em lightgreen; }
