div.luafooter              { text-align:center; font-size:80%; color: #888; margin: 2em 0; }
#luaref dt { float:initial; width: initial; margin:initial; padding: initial; line-height:1.3em;}
#luaref dd { float:initial; width: initial; margin: 0 0 0 2em; padding: initial; line-height:1.3em;}

#luaref h2                 { margin:2em 0 0 0; padding:0em; border-bottom: 1px solid black; }
#luaref h3.cls             { margin:2em 0 0 0; padding: 0 0 0 1em; border: 1px dashed #6666ee; }
#luaref h3.cls abbr        { text-decoration:none; cursor:default; border: none;}
#luaref h4.cls             { margin:1em 0 0 0; }
#luaref h3.class           { background-color: #aaee66; }
#luaref h3.enum            { background-color: #aaaaaa; }
#luaref h3.pointerclass    { background-color: #eeaa66; }
#luaref h3.array           { background-color: #66aaee; }
#luaref h3.opaque          { background-color: #6666aa; }
#luaref p                  { text-align: justify; }
#luaref p.cdecl            { text-align: right; float:right; font-size:90%; margin:0; padding: 0 0 0 1em; }
#luaref ul.classindex      { columns: 2; -webkit-columns: 2; -moz-columns: 2; }
#luaref div.clear          { clear:both; }
#luaref p.classinfo        { margin: .25em 0; }
#luaref div.code           { width:80%; margin:.5em auto; }
#luaref div.code div       { width:45%; }
#luaref div.code pre       { line-height: 1.2em; margin: .25em 0; }
#luaref div.code samp      { color: green; font-weight: bold; background-color: #eee; }
#luaref div.classdox       { padding: .1em 1em; }
#luaref div.classdox p     { margin: .5em 0 .5em .6em; }
#luaref div.classdox p     { margin: .5em 0 .5em .6em; }
#luaref div.classdox       { padding: .1em 1em; }
#luaref div.classdox p     { margin: .5em 0 .5em .6em; }
#luaref div.result-discussion      { font-size: 110%; }
#luaref span.word-returns          { font-weight: bold; font-style: italic; }
#luaref table.classmembers         { width: 100%; }
#luaref table.classmembers th      { text-align:left; border-bottom:1px solid black; padding-top:1em; }
#luaref table.classmembers td.def  { text-align:right; padding-right:.5em;  white-space: nowrap; font-family:mono; }
#luaref table.classmembers td.decl { text-align:left; padding-left:.5em; white-space: nowrap; font-family:mono;}
#luaref table.classmembers td.doc  { text-align:left; padding-left:.6em; font-size:85%; }
#luaref table.classmembers td.doc div.dox { background-color:#eee; padding: .1em 1em; }
#luaref table.classmembers td.doc p { margin: .5em 0; font-size:110%; }
#luaref table.classmembers td.doc p.para-returns {font-size:inherit; }
#luaref table.classmembers td.doc dl { font-size:110%; line-height: 1.2em; margin: 1em 0 0 0;}
#luaref table.classmembers td.doc dt { font-weight: bold; font-size:inherit; }
#luaref table.classmembers td.doc dd { font-size: inherit; }
#luaref table.classmembers td.fill { width: 99%; }
#luaref table.classmembers span.em { font-style: italic; }
#luaref span.functionname abbr     { text-decoration:none; cursor:default; }
